<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{fragmentos:: imports-css(title='Pizzaria')}">
		<meta charset="UTF-8">
		<title>...</title>
	</head>
	<body>
		<div th:replace="~{fragmentos:: menu(index='')}">
		</div>
		<div class="container" style=" width: 50%; margin-top: 25px">
			<div class="card-header">
			   	<h3>Cadastro de vendedor
			  		<a class="btn btn-primary float-right" th:href="@{~/vendedores}" role="button">Voltar</a>
			  	</h3>
			  </div>
			  Erros (fragmento)
			  <form th:object="${vendedor}" th:action="@{~/vendedores/vendedor/{id}(id=${vendedor.id})}" method="post" class="card-body">
				<div class="form-row">
					<div class="form-group">
						<label for="item">Nome: </label>
						<input th:field="*{nome}" type="text" class="form-control" placeholder="nome" required="required" maxlength="100">
				   		<br>
				   		<label for="item">CPF: </label>
						<input th:field="*{cpf}" type="text" class="form-control" placeholder="000.000.000-00" required="required" maxlength="100">
				   		<br>
				   		<label for="item">Telefone: </label>
						<input th:field="*{telefone}" type="number" class="form-control" placeholder="(00)000000000" required="required" maxlength="100">
				   		<br>
				   		<label for="item">Salário: </label>
				   		<input th:field="*{salario}" type="number" class="form-control"  min="0" required="required">
						
					</div>
				   
				</div>
			<div class="card-footer">
				<input type="submit" class="btn btn-success" value="salvar">
			</div>
		</form>
		</div>
		<div th:replace="~{fragmentos:: imports-js}">
		</div>
		
		
	
	</body>
</html>